.box.suggestions {
  padding: 0;
  border: 2.5px solid #719ece;
  border-radius: 5px;
  margin-top: -1px;
  position: absolute;
  width: 20rem;
  color: #0a0a0a;
  z-index: 10;
  backdrop-filter: blur(6px);

  &.suggestions {
    margin-bottom: 0;
  }

  &:empty {
    opacity: 0;
    pointer-events: none;
  }

  > .suggestion {
    padding: 0.3em;
    cursor: pointer;

    .suggestion--symbol {
      font-weight: bold;
    }

    .suggestion--name {
      font-size: 1.25vh;
      float: right;
    }

    &:hover,
    &:focus {
      background-color: rgba(10, 10, 10, 0.1);
    }

    &:only-child,
    &:last-child {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &:last-child {
      margin-bottom: -1px;
    }
  }
}
