.main--container__chart {
  height: 500px;
  width: 60%;

  .configurations--bar {
    padding-right: 1.925rem;
    display: flex;
    flex-direction: row-reverse;

    .average--price {
      padding-left: 0.75rem;
      width: fit-content;
    }

    .icon {
      border: lightgrey 1px dashed;
      border-spacing: 15px;
      display: block;
      cursor: pointer;
    }

    .icon:hover {
      border: lightblue 1px solid;
    }
  }

  .message {
    margin: 10rem auto;
    width: fit-content;
    text-align: center;
  }
}
