.main--container {
  padding-top: 10%;
  height: 80vh;
  display: flex;

  & &__configurations {
    padding-top: 2.5rem;
    margin: 0 auto;
    height: 500px;
    display: flex;

    .rdrDateRangePickerWrapper {
      line-height: 2.5rem;
      height: 400px;
      margin: auto;

      .rdrDefinedRangesWrapper {
        background: none !important;
        border: lightgrey 1.75px dashed;
        border-radius: 2.5px;

        .rdrStaticRanges {
          .rdrStaticRange {
            background: none !important;
            border-bottom: lightgrey 1.75px dashed;

            .rdrStaticRangeLabel {
              background: none !important;
              font-weight: bold;
              width: fit-content;
              margin: 0 auto;
            }

            .rdrStaticRangeLabel:hover {
              color: #3d91ff;
              transform: scale(1.1, 1.1);
            }
          }
        }
      }

      .rdrCalendarWrapper {
        background: none !important;
        border-right: lightgrey 1.75px dashed;
        border-bottom: lightgrey 1.75px dashed;
        border-top: lightgrey 1.75px dashed;
        border-radius: 2.5px;

        .rdrDayDisabled {
          background: none !important;
        }

        .rdrDateDisplayWrapper {
          background: none !important;
        }
      }
    }
  }
}
