.search--form {
  padding-top: 2.5rem;
  margin: 0 auto;
  width: fit-content;

  & &__search--input {
    height: 3rem;
    width: 20rem;
  }

  & &__search--button {
    margin-left: 0.5rem;
    height: 3rem;
  }
}
